@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1>Welcome to Your Sustainable Energy Explorer</h1>
    <p class="lead">
        Explore energy consumption data, predict future usage, and understand how households and countries are adopting renewable energy.
    </p>
</div>